/* Navbar.css */

/* General Styles */
.navbar {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #00bcd4;
}

.navbar-brand span {
    margin-left: 0.5rem;
    color: #f06292;
}

.menu-button {
    display: flex;
    align-items: center;
    color: #1e88e5;
}

.navbar-menu {
    display: none;
}

.navbar-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 20;
}

.navbar-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.navbar-menu ul li {
    list-style: none;
}

.navbar-menu ul li a {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    color: #424242;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-menu ul li a:hover,
.navbar-menu ul li a.active {
    color: #1e88e5;
}

.navbar-menu ul li a .icon {
    margin-right: 0.5rem;
}

/* Styles for larger screens */
@media (min-width: 768px) {
    .menu-button {
        display: none;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
    }

    .navbar-menu ul {
        flex-direction: row;
        gap: 2rem;
    }
}
